@model Shopily.ViewModel.Admin.AdminEditVM
<form action="@Url.Action("AdminEdit", "Admin")" method="post">

    @Html.HiddenFor(m => m.Id)
    <div>
        <label>@Html.LabelFor(m => m.Username)</label>
        @Html.TextBoxFor(m => m.Username)
        @Html.ValidationMessageFor(m => m.Username)
    </div>
    <div>
        <label>@Html.LabelFor(m => m.FirstName)</label>
        @Html.TextBoxFor(m => m.FirstName)
        @Html.ValidationMessageFor(m => m.FirstName)
    </div>
    <div>
        <label>@Html.LabelFor(m => m.LastName)</label>
        @Html.TextBoxFor(m => m.LastName)
        @Html.ValidationMessageFor(m => m.LastName)
    </div>
    <div>
        <label>@Html.LabelFor(m => m.Email)</label>
        @Html.TextBoxFor(m => m.Email)
        @Html.ValidationMessageFor(m => m.Email)
    </div>
 
        <div>@Html.LabelFor(m => m.IsAdmin, "Is Admin?")</div>
        <div>@Html.CheckBoxFor(m => m.IsAdmin)</div>
        <div class="ValidationMessage">@Html.ValidationMessageFor(m => m.IsAdmin)</div>

    
    <div>
        <input type="submit" value="Save" />
        <a href="/Admin/Index">Back</a>
    </div>
</form>
