@model Shopily.ViewModel.Products.IndexVM

<main>
    <div class="bg-light py-3">
        <div class="container">
            <div class="row">
                <div class="col-md-12 mb-0">
                    <a href="/">Home</a>
                    <span class="mx-2 mb-0">/</span>
                    <strong class="text-black">Shop</strong>
                </div>
            </div>
        </div>
    </div>

    <div class="site-section">
        <div class="container">
            <div class="row mb-5">
                <div class="col-md-9 order-2">
                    <div class="row">
                        <div class="col-md-12 mb-5">
                            <div class="float-md-left mb-4">
                                <h2 class="text-black h5">Shop All</h2>
                            </div>
                        </div>
                    </div>

                    <div class="row mb-5">
                        @if (Model.Items != null && Model.Items.Any())
                        {
                            @foreach (var product in Model.Items)
                            {
                                <div class="col-sm-6 col-lg-4 mb-4" data-aos="fade-up">
                                    <div class="block-4 text-center border">
                                        <figure class="block-4-image">
                                            <a href="/Shop/Shopsingle?ProductId=@product.Id">
                                                <img src="images/@product.ImagePath" alt="@product.ProductName" class="img-fluid" />
                                            </a>
                                        </figure>
                                        <div class="block-4-text p-4">
                                            <h3><a href="/Shop/Shopsingle?ProductId=@product.Id">@product.ProductName</a></h3>
                                            <p class="text-primary font-weight-bold">$@product.Price</p>
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                        else
                        {
                            <p>No products found.</p>
                        }
                    </div>

                    <div class="row" data-aos="fade-up">
                        <div class="col-md-12 text-center">
                            <div class="site-block-27">
                                <ul>
                                    @if (Model.Pager != null && Model.Pager.CurrentPage > 1)
                                    {
                                        <li>
                                            <a href="@Url.Action("Shop", new { page = Model.Pager.CurrentPage - 1, productName = Model.ProductName, category = Model.Category, productType = Model.ProductType })">&lt;</a>
                                        </li>
                                    }

                                    @if (Model.Pager != null)
                                    {
                                        @for (int i = 1; i <= Model.Pager.PagesCount; i++)
                                        {
                                            <li class="@(i == Model.Pager.CurrentPage ? "active" : "")">
                                                <a href="@Url.Action("Shop", new { page = i, productName = Model.ProductName, category = Model.Category, productType = Model.ProductType })">@i</a>
                                            </li>
                                        }
                                    }

                                    @if (Model.Pager != null && Model.Pager.CurrentPage < Model.Pager.PagesCount)
                                    {
                                        <li>
                                            <a href="@Url.Action("Shop", new { page = Model.Pager.CurrentPage + 1, productName = Model.ProductName, category = Model.Category, productType = Model.ProductType })">&gt;</a>
                                        </li>
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="col-md-3 order-1 mb-5 mb-md-0">
                    <div class="border p-4 rounded mb-4">
                        <h3 class="mb-3 h6 text-uppercase text-black d-block">Categories</h3>
                        <ul class="list-unstyled mb-0">
                            <li class="mb-1"><a href="/Shop?category=Male" class="d-flex"><span>Men</span> <span class="text-black ml-auto">(@Model.MaleCount)</span></a></li>
                            <li class="mb-1"><a href="/Shop?category=Female" class="d-flex"><span>Women</span> <span class="text-black ml-auto">(@Model.FemaleCount)</span></a></li>
                            <li class="mb-1"><a href="/Shop?category=Kids" class="d-flex"><span>Children</span> <span class="text-black ml-auto">(@Model.KidsCount)</span></a></li>
                        </ul>
                    </div>

                    <div class="border p-4 rounded mb-4">
                        <div class="mb-4">
                            <h3 class="mb-3 h6 text-uppercase text-black d-block">Filter by Price</h3>
                            <div id="slider-range" class="border-primary ui-slider ui-corner-all ui-slider-horizontal ui-widget ui-widget-content"><div class="ui-slider-range ui-corner-all ui-widget-header" style="left: 15%; width: 45%;"></div><span tabindex="0" class="ui-slider-handle ui-corner-all ui-state-default" style="left: 15%;"></span><span tabindex="0" class="ui-slider-handle ui-corner-all ui-state-default" style="left: 60%;"></span></div>
                            <input type="text" name="text" id="amount" class="form-control border-0 pl-0 bg-white" disabled="">
                        </div>

                        <div class="mb-4">
                            <h3 class="mb-3 h6 text-uppercase text-black d-block">Size</h3>
                            <label for="s_sm" class="d-flex">
                                <input type="checkbox" id="s_sm" class="mr-2 mt-1"> <span class="text-black">Small (2,319)</span>
                            </label>
                            <label for="s_md" class="d-flex">
                                <input type="checkbox" id="s_md" class="mr-2 mt-1"> <span class="text-black">Medium (1,282)</span>
                            </label>
                            <label for="s_lg" class="d-flex">
                                <input type="checkbox" id="s_lg" class="mr-2 mt-1"> <span class="text-black">Large (1,392)</span>
                            </label>
                        </div>

                        <div class="mb-4">
                            <h3 class="mb-3 h6 text-uppercase text-black d-block">Color</h3>
                            <a href="#" class="d-flex color-item align-items-center">
                                <span class="bg-danger color d-inline-block rounded-circle mr-2"></span> <span class="text-black">Red (2,429)</span>
                            </a>
                            <a href="#" class="d-flex color-item align-items-center">
                                <span class="bg-success color d-inline-block rounded-circle mr-2"></span> <span class="text-black">Green (2,298)</span>
                            </a>
                            <a href="#" class="d-flex color-item align-items-center">
                                <span class="bg-info color d-inline-block rounded-circle mr-2"></span> <span class="text-black">Blue (1,075)</span>
                            </a>
                            <a href="#" class="d-flex color-item align-items-center">
                                <span class="bg-primary color d-inline-block rounded-circle mr-2"></span> <span class="text-black">Purple (1,075)</span>
                            </a>
                        </div>

                    </div>
                </div>


           
        </div>
    </div>
</main>
