@using Shopily.Domain.ViewModel.Cart
@model IndexVM
@{
    var recentlyViewedProducts = ViewData["AddInCart"] as List<CartItemVM>;
    double totalCost = 0;
    double ProductCost = 0;
}
<link rel="stylesheet" href="@Url.Content("~/css/style/icomoon.css")">

<main>
    <div class="site-section">
        <div class="container">
            <div class="row mb-5">
                <form class="col-md-12" method="post">
                    <div class="site-blocks-table">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th class="product-thumbnail">@Shopily.Resources.Resource.Image</th>
                                    <th class="product-name">@Shopily.Resources.Resource.ProductName</th>
                                    <th class="product-price">@Shopily.Resources.Resource.Price</th>
                                    <th class="product-quantity">@Shopily.Resources.Resource.Quantity</th>
                                    <th class="product-total">@Shopily.Resources.Resource.Total</th>
                                    <th class="product-remove">@Shopily.Resources.Resource.Remove</th>
                                </tr>
                            </thead>
                            @if (!User.Identity.IsAuthenticated)
                            {
                                @if (recentlyViewedProducts != null && recentlyViewedProducts.Any())
                                {
                                    @foreach (var item in recentlyViewedProducts)
                                    {
                                        <tbody>
                                            <tr>
                                                <td class="product-thumbnail">
                                                    <img src="images/@item.ImagePath" alt="@item.ProductName" class="img-fluid" />
                                                    @{
                                                        totalCost += item.Price * item.Quantity;
                                                        ProductCost = item.Price * item.Quantity;
                                                    }
                                                </td>
                                                <td class="product-name">
                                                    <h2 class="h5 text-black">@item.ProductName</h2>
                                                </td>
                                                <td>@item.Price.ToString("F2")</td>
                                                <td>@item.Quantity</td>
                                                <td>@ProductCost.ToString("F2")</td>
                                                <td><a href="/Shop/Delete?ProductId=@item.ProductId&UserId=@item.UserId" class="btn btn-primary btn-sm">X</a></td>
                                            </tr>
                                        </tbody>
                                    }
                                }
                            }
                            else
                            {
                                @foreach (var item in Model.Items)
                                {
                                    <tbody>
                                        <tr>
                                            <td class="product-thumbnail">
                                                <img src="images/@item.ImagePath" alt="@item.ProductName" class="img-fluid" />
                                                @{
                                                    totalCost += item.Price * item.Quantity;
                                                    ProductCost = item.Price * item.Quantity;
                                                }
                                            </td>
                                            <td class="product-name">
                                                <h2 class="h5 text-black">@item.ProductName</h2>
                                            </td>
                                            <td>@item.Price.ToString("F2")</td>
                                            <td>@item.Quantity</td>
                                            <td>@ProductCost.ToString("F2")</td>
                                            <td><a href="/Shop/Delete?ProductId=@item.ProductId&UserId=@item.UserId" class="btn btn-primary btn-sm">X</a></td>
                                        </tr>
                                    </tbody>
                                }
                            }
                        </table>
                    </div>
                </form>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="row mb-5">
                        <div class="col-md-6">
                            <a href="/Shop" class="btn btn-outline-primary btn-sm btn-block">@Shopily.Resources.Resource.ContinueShoping</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <label class="text-black h4" for="coupon">@Shopily.Resources.Resource.Coup</label>
                            <p>@Shopily.Resources.Resource.Coupon</p>
                        </div>
                        <div class="col-md-8 mb-3 mb-md-0">
                            <input type="text" class="form-control py-3" id="coupon" placeholder="@Shopily.Resources.Resource.CouponCode">
                        </div>
                        <div class="col-md-4">
                            <button class="btn btn-primary btn-sm">@Shopily.Resources.Resource.ApplyCoupon</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 pl-5">
                    <div class="row justify-content-end">
                        <div class="col-md-7">
                            <div class="row">
                                <div class="col-md-12 text-right border-bottom mb-5">
                                    <h3 class="text-black h4 text-uppercase">Cart Totals</h3>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-md-6">
                                    <span class="text-black">@Shopily.Resources.Resource.Total</span>
                                </div>
                                <div class="col-md-6 text-right">
                                    <strong class="text-black">@totalCost.ToString("F2")</strong>
                                </div>
                            </div>
                            <div class="row mb-5">
                                <div class="col-md-6">
                                    <span class="text-black">@Shopily.Resources.Resource.Total</span>
                                </div>
                                <div class="col-md-6 text-right">
                                    <strong class="text-black">@totalCost.ToString("F2")</strong>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <form action="/Shop/Checkout" method="GET">
                                        <button class="btn btn-primary btn-lg py-3 btn-block" type="submit">@Shopily.Resources.Resource.ProccedToCheckout</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
