@using Shopily.Domain.ViewModel.Orders
@model OrderVM

@{
    ViewData["Title"] = "Place Order";
}

<div class="container">
    <h2 class="text-center my-4">Place Your Order</h2>
    <form asp-action="Checkout" method="post" class="needs-validation" novalidate>
        <!-- Hidden Fields -->
        <input type="hidden" name="Id" value="@Model.Id">
        <input type="hidden" name="OrderDate" value="@Model.OrderDate">
        <input type="hidden" name="ProductIds" value="@Model.ProductIds">
        <input type="hidden" name="UserId" value="@Model.UserId">
        <input type="hidden" name="TotalCost" value="@Model.TotalCost">
        <input type="hidden" name="Cart" value="@Model.Cart">
        <input type="hidden" name="Status" value="@Model.Status">
        <input type="hidden" name="ProductQuantity" value="@Model.ProductQuantity" />

        <div class="row">
            <!-- First Name -->
            <div class="col-md-6 mb-3">
                <label for="FirstName">@Shopily.Resources.Resource.FirstName</label>
                <input type="text" class="form-control" id="FirstName" name="FirstName" value="@Model.FirstName" required>
                <div class="invalid-feedback">@Shopily.Resources.Resource.FName</div>
            </div>

            <!-- Last Name -->
            <div class="col-md-6 mb-3">
                <label for="LastName">@Shopily.Resources.Resource.LastName</label>
                <input type="text" class="form-control" id="LastName" name="LastName" value="@Model.LastName" required>
                <div class="invalid-feedback">@Shopily.Resources.Resource.LName</div>
            </div>
        </div>

        <!-- Email -->
        <div class="mb-3">
            <label for="Email">@Shopily.Resources.Resource.Email</label>
            <input type="email" class="form-control" id="Email" name="Email" value="@Model.Email" required>
            <div class="invalid-feedback">@Shopily.Resources.Resource.EmailS</div>
        </div>

        <!-- Phone -->
        <div class="mb-3">
            <label for="Phone">@Shopily.Resources.Resource.Phone</label>
            <input type="tel" class="form-control" id="Phone" name="Phone" value="@Model.Phone" required>
            <div class="invalid-feedback">@Shopily.Resources.Resource.PhoneL</div>
        </div>

        <!-- Shipping Address -->
        <div class="mb-3">
            <label for="ShippingAddress">@Shopily.Resources.Resource.ShippingAddress</label>
            <input type="text" class="form-control" id="Address" name="Address" value="@Model.Address">
        </div>

        <!-- Country -->
        <div class="mb-3">
            <label for="Country">@Shopily.Resources.Resource.County</label>
            <input type="text" class="form-control" id="Country" name="Country" value="@Model.Country" required>
            <div class="invalid-feedback">@Shopily.Resources.Resource.CountryL.</div>
        </div>

        <!-- Order Notes -->
        <div class="mb-3">
            <label for="OrderNotes">@Shopily.Resources.Resource.OrderNotes</label>
            <textarea class="form-control" id="OrderNotes" name="OrderNotes">@Model.OrderNotes</textarea>
        </div>

        <button class="btn btn-primary btn-lg py-3 btn-block" type="submit">@Shopily.Resources.Resource.ProccedToCheckout</button>
    </form>
</div>
