@using Shopily.Domain.ViewModel.Cart
@model IndexVM
@{
    var recentlyViewedProducts = ViewData["AddInLike"] as List<CartItemVM>;
}
<link rel="stylesheet" href="@Url.Content("~/css/style/icomoon.css")">

<main>

    <div class="site-section">
        <div class="container">
            <div class="row mb-5">
                <form class="col-md-12" method="post">
                    <div class="site-blocks-table">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th class="product-thumbnail">@Shopily.Resources.Resource.Image</th>
                                    <th class="product-name">@Shopily.Resources.Resource.ProductName</th>
                                    <th class="product-price">@Shopily.Resources.Resource.Price</th>
                                  
                                    
                                    <th class="product-remove">@Shopily.Resources.Resource.Remove</th>
                                </tr>
                            </thead>
                           
                                @if (recentlyViewedProducts != null && recentlyViewedProducts.Any())
                                {
                                    @foreach (var item in recentlyViewedProducts)
                                    {
                                        <tbody>
                                            <tr>
                                                <td class="product-thumbnail">
                                                <a href="/Shop/Shopsingle?ProductId=@item.ProductId">
                                                    <img src="images/@item.ImagePath" alt="@item.ProductName" class="img-fluid" />
                                                </a>
                                                </td>
                                                <td class="product-name">
                                                    <h2 class="h5 text-black">@item.ProductName</h2>
                                                </td>
                                                <td>@item.Price</td>
                                             
                                                
                                            <td><a href="/Shop/Delete?LikedId=@item.ProductId&UserId=@item.UserId" class="btn btn-primary btn-sm">X</a></td>

                                            </tr>


                                        </tbody>
                                    }
                                }
                                                     
                        </table>
                    </div>
                </form>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="row mb-5">
                        
                        <div class="col-md-6">
                            <a href="/Shop" class=" btn btn-outline-primary btn-sm btn-block">@Shopily.Resources.Resource.ContinueShoping</a>
                        </div>
                    </div>
                   
                </div>
                
            </div>
        </div>
    </div>

</main>